.component-title{
  margin: 3rem 0 5rem;
}

.wyg-box {
  width: 100%;
  margin: auto auto;
}

.wyg-box h2 {
  font-weight: bold;
  margin-top: 4%;
  margin-bottom: 4%;
}

.wyg-btn {
  margin-top: 4%;
  margin-bottom: 2%;
  padding: 10px 30px;
  background: #FEFEFE;
  margin-left: 45%;
  color:#2b2b2b;
  border-radius: 100px 100px 100px 100px;
  border: 1px solid#2b2b2b;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.wyg-btn:hover {
  background: #f69f37;
  color: #FEFEFE;
}

.wyg-collapse-content {
  margin-left: 6%;
}

.wyg-card-text {
  color: #FEFEFE;
  margin: 25% 5% 20% 15%;
  text-align: left;
}
