.wyg-box {
  width: 80%;
  margin: auto auto;
}

.wyg-box h2 {
  font-weight: bold;
  margin-top: 4%;
  margin-bottom: 4%;
}

.wyg-btn {
  margin-top: 4%;
  margin-bottom: 2%;
  padding: 10px 30px;
  background: white;
  margin-left: 45%;
  color: black;
  border-radius: 100px 100px 100px 100px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.wyg-btn:hover {
  background: #f69f37;
  color: white;
}
