.component-title {
    margin: 3rem 0 5rem;
}

.wyg-box {
    width: 100%;
    margin: auto auto;
}

.wyg-box h2 {
    font-weight: bold;
    margin-top: 4%;
    margin-bottom: 4%;
}

.wyg-btn {
    margin-top: 4%;
    margin-bottom: 2%;
    margin-left: 45%;
    background: #2b2b2b;
    color: #fefefe;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    padding: 15px 30px;
    font-weight: 500;
    transition: transform .2s;
}


.wyg-btn:hover {
    transform: scale(1.1);
}

.wyg-collapse-content {
    margin-left: 6%;
}

.wyg-card-text {
    color: #FEFEFE;
    margin: 25% 5% 20% 15%;
    text-align: left;
}

.css-9po0zl-MuiPaper-root-MuiCard-root,
.css-6ubnp4-MuiPaper-root-MuiCard-root {
    border-radius: 20px !important;
}