.grey-line{
    background: lightgray;
    height: 2px;
    width: 80vw;
    margin: 30px auto auto auto;
}
.donate-button:hover{
    transform: scale(1.1);
}
.nonprofit-content{
    font-family: "DM Sans", sans-serif;
    background-color: #fefefe;
}

.nonprofit-content h1{
    font-size: 44px;
    font-weight: bold;
}
.nonprofit-content h4{
    width: 40vw;
}


.nonprofit-content header{
    color: #fefefe;
}

.nonProfit-header-content{
    position: absolute;
    bottom: 10vh;
    left: 10%;
}

