/* Header */
.non-profit-container {
  background-size: cover;
  height: 100vh;
  position: relative;
  background-color: #E5E5E5;
}

.non-profit-hero {
text-align: center;
width: 100%;
position: absolute;
top:10%;
left:50%;
transform: translateX(-50%);
}

.non-profit-hero .right-header-flag{
  position: absolute;
  top:0;
  left:0;
  background-color:#BB334D;
  color:#E5E5E5;
  
}

.non-profit-hero .right-header-flag h3{
  padding: 5px 25px 5px 25px;
}

/* Header */

.non-profit-container .header-div {

}

.non-profit-container .header-div h1 {
  font-weight: 700;
  font-size: 11vw;
  display: inline-block;
  border-bottom:solid #BB334D 10px;
  margin-left: 2%;
  margin-right: 2%;
}

/* Tekst */
.non-profit-container .header-text{
font-size: 1.5vw;
width: 60%;
margin:2% auto;

}

.non-profit-container .header-text-button {
  width:15%;
}

/* Cards container */
.non-profit-container .our-projects-div h2{
    text-align: center;
}
.non-profit-container .our-projects-div {
  color: white;
  position: absolute;
  bottom: 5%;
  width: 100%;
}

.non-profit-container .cards-div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


/* Cards */
.non-profit-container .card-non-profit{
   width: 20%;
   height: 200px;
   position: relative;
}

.non-profit-container .card-content {
  padding: 0;
  height: 200px;
  background-size: cover;
  background-position: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.card-non-profit:hover .card-content,
.card-non-profit:focus .card-content {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    background-color: rgba(52,73,94,0.75);
    filter: brightness(65%);
    cursor:pointer;
}


.non-profit-container .project-div-non-profit{
position: absolute;
bottom: 0;
height: 50px;
width: 100%;
background-color: rgba(0, 0, 0, 0.6);
color:white;
display: flex;
align-items: center;
font-size: 14px;
}


.non-profit-container .project-div-non-profit h3{
color:white; 
margin:0 0 0 10px;
font-size:1vw;
}


.logo-firma-non-profit-img-wrap{
    width: 100%;
    display: flex;
    justify-content:flex-end;
}

.logo-firma-non-profit-img{
    width: 20px;
    border-radius: 50px;
    margin:3%;
}

.arrow-logo{
  width:2%;
  height: 2%;
}

/* Tabs */
.non-profit-container .tabs-div {
margin-bottom: 1%;
}

