@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,400&display=swap");


.form-grid-container {
    background-color: #f3f5f6;
    max-width: 55em;
    padding: 2em 10em;
    font-family: "Raleway", sans-serif;
}

.form-grid-container .label img {
    margin: 0 0.2em;
}

.form-grid-container .label {
    margin-top: 1.2em;
}

/* or pay with card  */
.form-grid-container .heading-with-lines {
    margin-bottom: 0.5em;
}

.lines {
    width: 100%;
    height: 0.6em;
    border-bottom: 1px solid #c4c4c4;
    text-align: center;
    margin: 1em 0;
}

.line-text {
    font-size: 1em;
    background-color: #f3f5f6;
    padding: 0 10px;
    margin-top: 3em;
}

/* buttons */
.form-grid-container .vipps-button {
    background-color: #ff5b24;
    text-transform: capitalize;
}

.form-grid-container .vipps-button:hover {
    background-color: #ff5b24;
    opacity: 0.8;
}

.form-grid-container .confirm-button {
    background-color: #2b2b2b;
    margin: 1em 0 0;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18px;
}

.form-grid-container .confirm-button:hover {
    background-color: #2b2b2b;
    opacity: 0.8;
}
