@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,400&display=swap");

:root {
  --grey-color: lightgray;
  --blue-color: #5c7b89;
  --green-color: #4ca771;
}

.subscription-model-grid .heading {
  margin: 80px 0;
  font-size: 25px;
}
.subscription-model-grid {
  font-family: "Raleway", sans-serif;
}
.subscription-model-grid h1,
h2,
h4 {
  font-weight: 600;
}

@media (max-width: 400px) {
  .subscription-model-grid .sub-card {
    width: 500px;
  }
}

.subscription-model-grid .sub-card {
  border: 2.5px solid black;
  padding: 0 5px;
  width: 270px;
  transition: 300ms;
  transition-timing-function: ease-in-out;
}
.subscription-model-grid .sub-card:hover {
  transform: translateY(-20px);
}
.subscription-model-grid .text-margin {
  margin-bottom: 35px;
  font-weight: 800;
}
.subscription-model-grid .grey-font {
  color: var(--grey-color);
  opacity: 80%;
  font-size: medium;
}
.subscription-model-grid .large-font {
  font-size: 34px;
}

.subscription-model-grid .border-bottom {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--grey-color);
}
.subscription-model-grid .span-p {
  font-weight: 800;
}
/* button */
.subscription-model-grid .button {
  text-align: center;
  margin: 10px auto;
  font-weight: 800;
  font-size: 18px;
  background-color: var(--blue-color);
  width: 170px;
  text-transform: capitalize;
}
.subscription-model-grid .button:hover {
  background-color: var(--blue-color);
  opacity: 70%;
}

.subscription-model-grid .popular-box {
  height: 40px;
  width: 150px;
  background-color: var(--green-color);
  margin: auto 15px;
}
.subscription-model-grid .popular-box p {
  text-align: center;
  margin: auto;
  color: #fff;
  font-size: 18px;
}

.subscription-model-grid .ghost-box {
  height: 40px;
  width: 10px;
  background-color: #fff;
}
