@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,400&display=swap");

:root {
  --grey-color: lightgray;
  --blue-color: #5c7b89;
  --green-color: #4ca771;
}

.subscription-model-grid .heading {
  margin: 2em auto;
  text-align: center;
  font-size: 25px;
  max-width: 40em;
}
.subscription-model-grid {
  font-family: "Raleway", sans-serif;
}
.subscription-model-grid h1,
h2,
h4 {
  font-weight: 600;
}

.subscription-model-grid .sub-card {
  border: 2.5px solid black;
  transition: 300ms;
  transition-timing-function: ease-in-out;
}
.subscription-model-grid .sub-card:hover {
  transform: translateY(-20px);
}
.subscription-model-grid .text-margin {
  margin-bottom: 2.5em;
  font-weight: 800;
}
.subscription-model-grid .grey-font {
  color: var(--grey-color);
  opacity: 80%;
  font-size: medium;
}
.subscription-model-grid .large-font {
  font-size: 34px;
}

.subscription-model-grid .border-bottom {
  padding-bottom: 0.5em;
  border-bottom: 1px solid var(--grey-color);
}
.subscription-model-grid .span-p {
  font-weight: 800;
}
/* button */
.subscription-model-grid .button {
  text-align: center;
  margin: 10px auto;
  font-weight: 800;
  font-size: 18px;
  background-color: var(--blue-color);
  width: 10em;
  text-transform: capitalize;
}
.subscription-model-grid .button:hover {
  background-color: var(--blue-color);
  opacity: 70%;
}

.subscription-model-grid .popular-box {
  height: 2.5em;
  width: 10em;
  background-color: var(--green-color);
  margin: auto 15px;
}
.subscription-model-grid .popular-box p {
  text-align: center;
  margin: auto;
  color: #fff;
  font-size: 18px;
}

.subscription-model-grid .ghost-box {
  height: 2.5em;
  width: 10em;
  background-color: #fff;
}

@media screen and (max-width: 600px) {
  .subscription-model-grid .sub-card {
    margin: 0.5em auto;
    width: 80vw;
  }
  .subscription-model-grid .popular-box {
    margin: 4em 3.5em -0.5em;
  }
  .subscription-model-grid .ghost-box {
    margin: 4em 3.5em -0.5em;
  }
}
