/* font */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,400&display=swap");
/* farger som brukes på alle deler/component i subscriptions */
:root {
  --grey-color: lightgray;
  --blue-color: #5c7b89;
  --green-color: #4ca771;
  --blue-grey-color: #8792a2;
  --container-color: #5c7b890f;
}
.sub-page-container {
  background-color: #fff;
  overflow: hidden;
  height: 100vh;
}
/* Creating  line */
.sub-page-container .blue-line {
  border-bottom: 5px solid var(--blue-color);
  max-width: 45vw;
  margin: 0em auto;
  height: 5em;
  text-align: center;
}
.sub-page-container .dummy-stepper {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  margin: 1em auto;
}
/* cirles in container */
.sub-page-container .circle {
  display: flex;
  position: relative;
}
.sub-page-container .circle .circle-top-right {
  position: absolute;
  top: -8vh;
  right: -3vw;
  width: 17rem;
  height: 17rem;
  border-radius: 50%;
  background: #3361bb;
}
.sub-page-container .circle .circle-bottom-left {
  position: absolute;
  top: 80vh;
  left: -8vw;
  width: 18em;
  height: 18em;
  border-radius: 50%;
  background: #5c7b89;
}
.sub-page-container .circle .circle-bottom-right {
  position: absolute;
  top: 95vh;
  left: 35vw;
  width: 60em;
  height: 60em;
  border-radius: 50%;
  background: #f2ac20;
}

@media screen and (max-width: 900px) {
  .sub-page-container .circle {
    display: none;
  }
  .sub-page-container .dummy-stepper {
    width: 85vw;
    font-size: 0.9em;
  }
  .sub-page-container .blue-line {
    border-bottom: 5px solid var(--blue-color);
    max-width: 72vw;
  }
}
@media screen and (max-width: 1400px) {
  .sub-page-container .circle .circle-top-right {
    width: 13em;
    height: 13em;
  }
  .sub-page-container .circle .circle-bottom-left {
    width: 12em;
    height: 12em;
    top: 87vh;
  }
  .sub-page-container .circle .circle-bottom-right {
    top: 96vh;
    width: 45em;
    height: 45em;
  }
}
