.sub-page-container {
  background-color: #fff;
}
/* Creating  line */
.sub-page-container .blue-line {
  border-bottom: 5px solid var(--blue-color);
  max-width: 30vw;
  margin: 0em auto;
  height: 5em;
}
.sub-page-container .heading {
  margin: 1em auto 0;
  padding: 1em 2.1em;
  font-size: 1em;
  max-width: 55em;
}
/* .sub-page-container .circle {
  position: relative;
}
.sub-page-container .circle .circle-top-right {
  position: absolute;
  top: -5em;
  right: -3em;
  width: 12em;
  height: 12em;
  border-radius: 50%;
  background: #3361bb;
}
 */
