.about-component-container {
  background-color: #fefefe;
  padding-bottom: 5rem;
}

.about-component-container h1 {
  margin: 3rem 0;
}

.img-container {
  margin-top: 4rem;
  border-radius: 10px;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.img-text {
  padding: 70px 30px;
  background-color: #fefefe;
  width: 30vw;
  line-height: 1.8;
  border-radius: 2rem;
}
.what-we-do {
  margin: 4rem 0;
  line-height: 1.8;
}

.timeline-wrapper {
  height: 70vh;
  margin-left: 0;
}
.testomonials {
  width: 38vw;
  margin-top: -5rem;
}
.companies-testemonials-grid {
  display: flex;
  grid-template-columns: 1fr 1fr;
  row-gap: 5rem;
}
.companies-testemonials-grid img {
  margin-right: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  object-fit: cover;
}
.companies-testemonials-grid .title-and-img {
  display: flex;
  align-items: center;
  text-align: center;
  width: 80%;
}
.companies-testemonials-grid p {
  margin-left: 4em;
  width: 80%;
}
/* utility classes */
.p-margin {
  margin: 1rem 0;
}

.section-margin {
  margin-bottom: 3rem;
}
