
.footer-wrapper{
height: 400px;
box-shadow: 0 -7px 15px #33333320;
}
.footer{
display: flex;
justify-content: space-around;
height: 100%;
color: #333333;
}
.header-text{
    font-weight: bold;
    font-size: 20px;
}

.footer a{
    cursor: pointer;
    text-decoration: none;
    color: #333333;
}
.link-wrapper{
    transition: transform 0.1s ease-in-out;
}
.link-wrapper:hover{
    transform: scale(1.05);
}
.footer-left{
    margin-top: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 15%;
}.footer-middle-left{
    margin-top: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 25%;
}
.footer-middle-right{
    margin-top: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 25%;
}.footer-right{
    margin-top: 2rem;
    align-items: center;
    padding-right: 5rem;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    width: 35%;
}
.list-wrapper{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-icon-wrapper{
    height: 60px;
    width: 60px;
    margin-bottom: 1rem;
}
.input-wrapper{
    display: flex;
    justify-content: space-between;
    height: 3rem;
}
.input-wrapper input{
    width: 70%;
    padding-left: 10px;
}
.input-wrapper button{
    background-color: #333333;
    color: #FBFAFA;
    transition: .2s linear;
}

.input-wrapper button:hover{
    transform: scale(1.1);
}

.sm-wrapper{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.sm-icon{
height: 30px;
width: 30px;
cursor: pointer;
}
.sm-icon img{
    height: 100%;
}

/* @media screen and (max-width: 1250px) {
    .footer{
        flex-direction: column;
    }
    .footer-left{
        width: 100%;
    }.footer-right{
        width: 100%;
    }.footer-middle-left{
        width: 100%;
    }
    .footer-middle-left .list-wrapper{
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }.footer-middle-right .list-wrapper{
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
    }
    .footer-middle-right{
        width: 100%;
    }
}

@media screen and (max-width: 1250px) {
    .footer{
        visibility: hidden;
    }
    .footer-wrapper{
        height: 100px;
    }
}

 */