/* Search Non-profits */
.search-posts {
  font-family: Arial, Helvetica, sans-serif;
}

.search-posts .headline {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.search-posts .cards {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem;
}

@media (max-width: 600px) {
  .search-posts .cards {
    margin-left: 10vw;
  }
}

@media (max-width: 900px) {
  .search-posts .cards {
    width: 83%;
  }
}

@media (min-width: 600px) {
  .search-posts .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .search-posts .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.search-posts .card {
  height: 90%;
  width: 90%;
  border-radius: 2%;
  align-items: left;
  border: none;
  margin-top: 2vh;
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  ); /* FF3.6+ */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  ); /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
}

.search-posts .card-name {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 25vh;
  z-index: 4;
  position: absolute;
  align-items: left;
  color: white;
  margin-left: 1vw;
}

@media (max-width: 600px) {
  .search-posts .card-name {
    margin-top: 20vh;
  }
}

@media (max-width: 900px) {
  .search-posts .card-name {
    margin-top: 19vh;
  }
}

.search-posts .image {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.search-posts .filter {
  margin-left: 77.3vw;
  margin-top: -7vh;
  margin-bottom: 1vh;
}

@media (max-width: 600px) {
  .search-posts .filter {
    margin-left: 65vw;
    margin-top: -11.5vh;
  }
}

@media (max-width: 900px) {
  .search-posts .filter {
    margin-left: 65vw;
    margin-top: -8.5vh;
  }
}

/* Search Bar */

.search-bar {
  white-space: nowrap;
}

.search-bar .search {
  display: inline-block;
  padding-top: 3vh;
  margin-top: 15vh;
  text-align: left;
  margin-left: 13.7vw;
  margin-bottom: 4vh;
}

@media (max-width: 600px) {
  .search-bar .search {
    margin-left: 2vw;
    margin-top: 12vh;
  }
}

.search-bar .visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  align-items: center;
}
