/* Search Non-profits */
.search-posts {
  font-family: Arial, Helvetica, sans-serif;
}

.search-posts .headline {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-align: center;
}

.search-posts .cards {
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-gap: 2rem;
}

@media (max-width: 600px) {
  .search-posts .cards {
    margin-left: 4vw;
  }
}

@media (min-width: 600px) {
  .search-posts .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .search-posts .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

.search-posts .card {
  height: 80%;
  width: 80%;
  border-radius: 2%;
  align-items: center;
  margin-top: 2vh;
}

.search-posts .card-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: -5vh;
  z-index: 4;
  position: absolute;
  color: white;
  margin-left: 1vw;
}

.search-posts .image {
  width: 120%;
  height: 120%;
  border-radius: 2%;
}

/* Search Bar */

.search-bar {
  white-space: nowrap;
}

.search-bar .search {
  display: inline-block;
  margin-top: 4vh;
  text-align: left;
  margin-left: 11.5vw;
  margin-bottom: 4vh;
}

.search-bar .filter {
  display: inline-block;
  margin-left: 55%;
}

.search-bar .visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  align-items: center;
}
