body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2b2b2b;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.App {
  background-color: #fefefe;
}
