.top-line {
  margin-bottom: 5vh;
  border-bottom: 1px solid #c4c4c4;
  width: 100%;
}
.project-page-container {
  max-width: 100vw;
  margin: 12vh auto;
}
.project-page-container h1 {
  margin-bottom: 3em;
}
/* splitter skjermen mellom tekst og img gallery */
.project-cards-container {
  margin-bottom: 10em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6vw;
  font-family: sans-serif;
}
/* mindre margin før show all button  */
.project-cards-container:last-of-type {
  margin-bottom: 5em;
}

/* img container venstre side */
.project-img-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 0.8em;
  row-gap: 1.2em;
}
/* styler bildene  */
.project-img-gallery img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
.big-img {
  grid-row: span 2 / auto;
}
/* tekst container høyre side */
.project-text-content {
  display: flex;
  flex-direction: column;
  line-height: 1.8;
  font-size: 1em;
}

/* heading and and add to favorites in text content */
.project-text-content .top-flex-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-text-content .add-favorites {
  display: flex;
  margin-right: 1em;
}
.project-text-content .add-favorites:hover {
  cursor: pointer;
  opacity: 0.8;
}
.project-text-content .add-favorites .heart-png {
  height: 1.2em;
  margin-right: 0.5em;
}

.project-text-content .project-start-p {
  margin-top: 30px;
  font-weight: bold;
}
/* go to project button */
.project-text-content button {
  color: #fff;
  background-color: #f69f37;
  width: 12vw;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  margin-top: auto;
}

.project-text-content button:hover {
  opacity: 0.8;
}
/* show all button */
.project-page-container .showAllBtn {
  color: #fff;
  background-color: #333;
  width: 16vw;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  margin-left: 40%;
}

/* line separating projects */
.project-cards-container .split-line {
  border-bottom: 1px solid #c4c4c4;
  grid-column-start: 1;
  grid-column-end: 3;
}
